JWT_SECRET=supersecretkeyusedforsecuredtokenauthentication
DISCOVERY_URL=http://discovery-server:8761/eureka
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true